{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1 class="display-4 text-primary">
        Привет, это главная страница!
    </h1>
    <hr>

    <h2 class="mb-3">Последние поступления товаров</h2>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-3">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-success">{{ product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Цена: {{ product.price }} руб.</h6>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <a href="{%url 'product_detail' product.id %}" class="btn btn-primary btn-sm">Подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="alert alert-warning">К сожалению, товаров пока нет.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
